@model IEnumerable<CanineCorner.Models.Location>

@{
    ViewData["Title"] = "Locations";
}

<h2>Location Search</h2>

<form asp-controller="Locations" asp-action="Index" method="get">
    <p>
        Zip Code: <input type="text" name="SearchString">

        Location Type: <select name="SearchType">
            <option value="">Type of Location</option>
            <option value="Park">Dog Park</option>
            <option value="Hotel">Hotel</option>
            <option value="Restaurant">Restaurant</option>
        </select>
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Location Name
            </th>
            <th>
                Location Type
            </th>
            <th>
                Zip Code
            </th>
            <th>
                Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </tr>
}
    </tbody>
</table>
