@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Welcome to Canine Corner. The goal of this application is to provide you with an easy way maintain dog information</p>
<p>On the "Personal" page you can input your dog's information for easy tracking</p>
<p>The "Medical" page allows you to enter the medications for your dogs with the periodicty so that you never forget when to give
    them the next dose</p>
<p>With the "Location Search" page you can browse all entered locations, search by zip code, or filter by type of location such 
    as a park or hotel, so that you can always find a place you can bring your furry friend.</p>
<p>The "Breed Information" page provides so quick information on different aspects of certain dog breeds to help you
    find your next best friend</p>