@{
    ViewData["Title"] = "Home Page";
}

<body>

    <h1>Welcome to the Canine Corner: Home to all of your canine needs</h1>
    <img class="center-image" src="https://caninecorner.blob.core.windows.net/dog-pictures/German-Shepherd-on-White-00.jpg" alt="German Shepherd" />

</body>