@model CanineCorner.Models.Grooming

<h4>Grooming</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Overall
            </th>
            <th>
                Shedding
            </th>
            <th>
                Drool
            </th>
            <th>
                Easiness of Grooming
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.Overall
            </td>
            <td>
                @Model.Shedding
            </td>
            <td>
                @Model.Drool
            </td>
            <td>
                @Model.Easiness 
            </td>
        </tr>

    </tbody>
</table>