@model CanineCorner.Models.Grooming

<h3 style="text-align:center">Grooming</h3><br />

<table class="table" style="text-align: center">
    <thead>
        <tr>
            <th style="text-align:center">
                Overall
            </th>
            <th style="text-align:center">
                Shedding
            </th>
            <th style="text-align:center">
                Drool
            </th>
            <th style="text-align:center">
                Easiness of Grooming
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.Overall
            </td>
            <td>
                @Model.Shedding
            </td>
            <td>
                @Model.Drool
            </td>
            <td>
                @Model.Easiness 
            </td>
        </tr>

    </tbody>
</table>