@model CanineCorner.Models.Health

<h3 style="text-align:center">Health</h3> <br />

<table class="table" style="text-align: center">
    <thead>
        <tr>
            <th style="text-align:center">
                Overall
            </th>
            <th style="text-align:center">
                General Health
            </th>
            <th style="text-align:center">
                Potential for Weight Gain
            </th>
            <th style="text-align:center">
                Size
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.Overall
            </td>
            <td>
                @Model.General
            </td>
            <td>
                @Model.WeightGain
            </td>
            <td>
                @Model.Size
            </td>
        </tr>

    </tbody>
</table>
